<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dk.dtu.isaacirani.kirurgisksimulator">

<!-- nyt -->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- nyt slut -->


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SimulatorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SurgeonActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".StudentLoginActivity" >
        </activity>

        <!-- nyt -->

        <receiver android:name=".NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
            </intent-filter>
        </receiver>

        <!-- nyt slut -->

        
        <activity android:name=".SurgeonLoginActivity"></activity>
        <activity android:name=".activities.ScenarioCreatorActivity"></activity>
        <activity android:name=".activities.AboutActivity"></activity>
    </application>

</manifest>