<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dk.dtu.isaacirani.kirurgisksimulator">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/rlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/rlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SimulatorActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activities.SettingsActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activities.InstructorActivity"
            android:parentActivityName=".activities.InstructorLoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activities.StudentLoginActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activities.InstructorLoginActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activities.AboutActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activities.LogDataActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".activities.ScenarioCreatorActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".activities.SplashScreenActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5c184a0967c8a67a7694c1c4b91cf73194583ed4" />

        <activity
            android:name=".activities.JoinGroupActivity"
            android:parentActivityName=".activities.StudentLoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
    </application>

</manifest>